Assessment_ DOSM_Chatbot .yml
app:
  description: ''
  icon: 📑
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: 'Assessment: DOSM_Chatbot '
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.5@373362a028986aae53a7baf73a7f11991ba3c22c69eaf97d6cde048cfd4a9f98
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      config:
        inputs_config:
          enabled: true
          preset_response: i cant assist with harmful or illegal content
        outputs_config:
          enabled: true
          preset_response: i cant assist with harmful or illegal content
      enabled: true
      type: openai_moderation
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      selected: false
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1757742018170--1757742235054-target
      selected: false
      source: '1757742018170'
      sourceHandle: source
      target: '1757742235054'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1757714820169-true-1757742018170-target
      selected: false
      source: '1757714820169'
      sourceHandle: 'true'
      target: '1757742018170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1757714820169-false-1711528915811-target
      selected: false
      source: '1757714820169'
      sourceHandle: 'false'
      target: '1711528915811'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-source-1711528917469-target
      selected: false
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1711528914102-source-1757714820169-target
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1757714820169'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1757714820169-1b3dc8ad-e41d-461d-a08c-8992d7c31b7c-17579375273290-target
      source: '1757714820169'
      sourceHandle: 1b3dc8ad-e41d-461d-a08c-8992d7c31b7c
      target: '17579375273290'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17579375273290-source-17579375273291-target
      source: '17579375273290'
      sourceHandle: source
      target: '17579375273291'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17579375273291-source-17579375273292-target
      source: '17579375273291'
      sourceHandle: source
      target: '17579375273292'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: 'Action: Include data export to csv'
          max_length: 48
          options: []
          required: false
          type: checkbox
          variable: is_action_enabled
        - label: 'Action: Summarize unemployment trend'
          max_length: 48
          options: []
          required: false
          type: checkbox
          variable: is_action_summarize
      height: 114
      id: '1711528914102'
      position:
        x: -414.05908680743784
        y: 2646.2514068287487
      positionAbsolute:
        x: -414.05908680743784
        y: 2646.2514068287487
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - BC08tqaV0/ydG5bo1z7Fky+kZRnhvRZ2/T8kVAzbYOZk5kCXM0T5L8ceT8Iy93jq
        desc: Allows you to query text content related to user questions from the
          Knowledge
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 134
      id: '1711528915811'
      position:
        x: 285.6137626661138
        y: 2634.5
      positionAbsolute:
        x: 285.6137626661138
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        default_value:
        - key: text
          type: string
          value: Dify Free Plan has a limited number of messages.
        desc: Invoking large language models to answer questions or process natural
          language
        error_strategy: default-value
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: cb8db689-5209-4d43-a1ad-a4cb32f2955c
          role: system
          text: "You are a helpful assistant. \nUse the following context as your\
            \ learned knowledge, inside <context></context> XML tags.\n<context>\n\
            {{#context#}}\n</context>\nWhen answer to user:\n- If you don't know,\
            \ just say that you don't know.\n- If you don't know when you are not\
            \ sure, ask for clarification.\nAvoid mentioning that you obtained the\
            \ information from the context.\nAnd answer according to the language\
            \ of the user's question."
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 214
      id: '1711528917469'
      position:
        x: 657.3229142063346
        y: 2626.457959646334
      positionAbsolute:
        x: 657.3229142063346
        y: 2626.457959646334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: '1711528919501'
      position:
        x: 928.5
        y: 2634.5
      positionAbsolute:
        x: 928.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 269ff6cb-ed29-456f-b5be-717a4d271e4e
            value: true
            varType: boolean
            variable_selector:
            - '1711528914102'
            - is_action_enabled
          id: 'true'
          logical_operator: and
        - case_id: 1b3dc8ad-e41d-461d-a08c-8992d7c31b7c
          conditions:
          - comparison_operator: is
            id: 7f66d090-f6be-4df7-8c3c-a8309008c3ae
            value: true
            varType: boolean
            variable_selector:
            - '1711528914102'
            - is_action_summarize
          id: 1b3dc8ad-e41d-461d-a08c-8992d7c31b7c
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 172
      id: '1757714820169'
      position:
        x: -92.91469778146438
        y: 2634.5
      positionAbsolute:
        x: -92.91469778146438
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://storage.dosm.gov.my/labour/lfs_month_duration.csv
        variables: []
      height: 138
      id: '1757742018170'
      position:
        x: 309.9720814889404
        y: 2364.181650509786
      positionAbsolute:
        x: 309.9720814889404
        y: 2364.181650509786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1757742018170.body#}}'
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 102
      id: '1757742235054'
      position:
        x: 612.9720814889404
        y: 2364.181650509786
      positionAbsolute:
        x: 612.9720814889404
        y: 2364.181650509786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - BC08tqaV0/ydG5bo1z7Fky+kZRnhvRZ2/T8kVAzbYOZk5kCXM0T5L8ceT8Iy93jq
        desc: Allows you to query text content related to user questions from the
          Knowledge
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval1
        type: knowledge-retrieval
      height: 134
      id: '17579375273290'
      position:
        x: 274.12838336849654
        y: 2089.163038949468
      positionAbsolute:
        x: 274.12838336849654
        y: 2089.163038949468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '17579375273290'
          - result
        default_value:
        - key: text
          type: string
          value: Dify Free Plan has a limited number of messages.
        desc: Invoking large language models to answer questions or process natural
          language
        error_strategy: default-value
        memory:
          query_prompt_template: '{{#sys.query#}}Summarize unemployment trend'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: cb8db689-5209-4d43-a1ad-a4cb32f2955c
          role: system
          text: "You are a helpful assistant. \nUse the following context as your\
            \ learned knowledge, inside <context></context> XML tags.\n<context>\n\
            {{#context#}}\n</context>\nWhen answer to user:\n- If you don't know,\
            \ just say that you don't know.\n- If you don't know when you are not\
            \ sure, ask for clarification.\nAvoid mentioning that you obtained the\
            \ information from the context.\nAnd answer according to the language\
            \ of the user's question."
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: llm1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 214
      id: '17579375273291'
      position:
        x: 600.3692793263627
        y: 2082.976845762429
      positionAbsolute:
        x: 600.3692793263627
        y: 2082.976845762429
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#17579375273291.text#}}'
        desc: ''
        selected: false
        title: Answer (1)
        type: answer
        variables: []
      height: 102
      id: '17579375273292'
      position:
        x: 917.0146207023827
        y: 2089.163038949468
      positionAbsolute:
        x: 917.0146207023827
        y: 2089.163038949468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 344.62350933023976
      y: -1273.4605626987207
      zoom: 0.6559048543570462
